@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: #4f7df3;
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --body-font-size: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: var(--body-font-size);
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 0.75rem;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1.125rem;
  text-align: center;
}

.main-heading span {
  font-weight: 700;
  color: var(--very-dark-blue);
}

.sub-heading {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--very-dark-blue);
  font-size: 0.75rem;
}

.form {
  margin: 0 auto 4.5rem auto;
  max-width: 17.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.form-input {
  padding: 0.875rem 2rem;
  border: 1px solid var(--pale-blue);
  color: var(--pale-blue);
  font: inherit;
  font-size: 0.75rem;
  border-radius: 9999px;
  display: block;
  width: 100%;
  flex: 2;
}

.form-button {
  display: inline-block;
  width: 100%;
  background-color: var(--blue);
  font: inherit;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  padding: 0.875rem;
  border-radius: 9999px;
  border: none;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  flex: 1;
}

.dashboard {
  width: 100%;
  max-width: 640px;
}

.dashboard-wrapper {
  padding: 0 1rem 0 1rem;
  margin-bottom: 7.25rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.625rem;
  list-style: none;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  color: var(--blue);
  font-size: 0.9375rem;
}

.copyright {
  margin-bottom: 1.5rem;
  font-size: 0.625rem;
  text-align: center;
  color: var(--gray);
}

.footer {
  font-size: 11px;
  text-align: center;
  padding: 0.5rem;
}

.footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px){
  .main-heading {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 1.25rem;
    margin-bottom: 2.625rem;
  }
  .form {
    flex-direction: row;
    max-width: 39.75rem;
    margin: 0 auto 5.5rem auto;
  }
  .form-input {
	  font-size: 1rem;
    padding: 1.125rem 2rem;
  }
  .form-button {
    font-size: 1rem;
  }
  .dashboard-wrapper {
    margin-bottom: 4.375rem;
  }
  .copyright {
    font-size: 0.875rem;
  }
}